.catpage .topbar {
  display: flex;
  margin: 8px 4px;
}
.catpage .topbar .catinfo {
  background-color: #ddd;
  flex: 1;
  margin: 0 4px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.catpage .topbar .catoptions {
  display: flex;
}
.catpage .topbar .catoptions .actionbox {
  position: relative;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  color: #333;
  font-size: 1.4rem;
  margin: 0 4px;
  cursor: pointer;
}
.catpage .topbar .catoptions .actionbox i.tiny {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 0.8rem;
}
.catpage .topbar .catoptions .actionbox:hover {
  background-color: #ccc;
}

.catpage .catnotes {
  display: flex;
  margin: 8px 4px;
  margin-top: -4px;
  text-align: justify;
  flex-wrap: wrap;
}
.catpage .catnotes .notebox {
  background-color: #ddd;
  /*max-width: 200px;*/
  min-width: 26vw;
  padding: 8px;
  margin: 4px;
  flex: 1;
}
.catpage .catnotes .notebox .notetop {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  overflow: hidden;
}
.catpage .catnotes .notebox .notetop .notetitle {
  padding: 0 2px;
  overflow: hidden;
}
.catpage .catnotes .notebox .notetop .notetitle p {
  margin: 2px 4px;
  font-size: 1rem;
}
.catpage .catnotes .notebox .notetop .notetitle input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 2px 4px;
  margin: 2px 0;
  font-size: 1rem;
  background-color: #ddd;
}
.catpage .catnotes .notebox .notetop .notetitle input:focus {
  outline: none;
}
.catpage .catnotes .notebox .notetop .noteoptions {
  display: flex;
  color: #f2f2f2;
}
.catpage .catnotes .notebox .notetop .noteoptions .noteaction {
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  cursor: pointer;
}
.catpage .catnotes .notebox .notetop .noteoptions .noteaction:hover {
  background-color: #a2a2a2;
}
.catpage .catnotes .notebox .notetop .noteoptions .noteremove {
  background-color: #bd4844;
}
.catpage .catnotes .notebox .notetop .noteoptions .noteremove:hover {
  background-color: #ca5753;
}
.catpage .catnotes .notebox .notecontent p {
  margin: 0;
}

/* Global */
.hidden {
  display: none !important;
}