.home {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.home .hcol {
  display: flex;
  flex-direction: column;
}
.home .hcol.stretch {
  flex: 1;
}

.home .hcol h3 {
  margin: 14px 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.3rem;
}
.home .hcol .catlist {
  overflow: auto;
}
.home .hcol .catlist .catbox {
  background-color: #ddd;
  color: #333;
  padding: 4px 8px;
  margin: 4px 8px;
  display: flex;
  justify-content: space-between;
}
.home .hcol .catlist .catbox .catcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .hcol .catlist .catbox .catcol .catname {
  font-size: 1.2rem;
}
.home .hcol .catlist .catbox .catcol .catdate {
  font-size: 0.9rem;
}
.home .hcol .catlist .catbox .catcol .catcount {
  font-size: 1.2rem;
}
.home .hcol .catlist .catbox .catcol .catcount i {
  font-size: 0.9rem;
}

.home .hcol .actionlist {
  display: flex;
  margin: 8px 4px;
  margin-left: 0px;
}
.home .hcol .actionlist .actionbox {
  position: relative;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  color: #333;
  font-size: 1.4rem;
  margin: 0 4px;
  cursor: pointer;
}
.home .hcol .actionlist .actionbox i.tiny {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 0.8rem;
}
.home .hcol .actionlist .actionbox:hover {
  background-color: #ccc;
}